<ion-header>
  <ion-toolbar>
    <ion-title>equipos-lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Codigo</ion-label>
    <ion-input [(ngModel)]="id"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="dark" (click)="getPlayer()">Enviar</ion-button>
  </ion-item>

    <!-- Sliding item with icon start options on end side -->


      <ion-item>
          <ion-label >Imagen</ion-label>
          <img src="{{imangen}}" >    
      </ion-item>
    <ion-item>
      <ion-label >Nombre</ion-label>
          <h2>{{nombre}}</h2>

    </ion-item>
    <ion-item>
      <ion-label >Cumpleanios</ion-label>
          <h3>{{cumpleanios}}</h3>
      </ion-item>

  <ion-item>
    <ion-label >Liga</ion-label>
    <h3>{{liga}}</h3>
  </ion-item>
  <ion-item>
    <ion-label >Nacionalidad</ion-label>
    <h3>{{nacionalidad}}</h3>
  </ion-item>
  <ion-item>
    <ion-label >Valor en mercado</ion-label>
    <h3>{{mercado}}</h3>
  </ion-item>


</ion-content>
